In [26]:
import pandas as pd
import numpy as np
df_data = pd.DataFrame([np.random.randn(3), [1., 2., 4],
                       [1, 4., 4], [1., 2., 3.]])
print(df_data.head())

          0         1         2
0  1.247446 -0.897312  0.313416
1  1.000000  2.000000  4.000000
2  1.000000  4.000000  4.000000
3  1.000000  2.000000  3.000000

In [29]:
print(df_data.apply(lambda x : print(x,x.max()),axis=0))
#对列操作:依次是第一列、第二列、第三列

0    1.247446
1    1.000000
2    1.000000
3    1.000000
Name: 0, dtype: float64 1.247446085926055
0   -0.897312
1    2.000000
2    4.000000
3    2.000000
Name: 1, dtype: float64 4.0
0    0.313416
1    4.000000
2    4.000000
3    3.000000
Name: 2, dtype: float64 4.0
0    None
1    None
2    None
dtype: object

In [34]:
dd=df_data.apply(lambda x : x.max(),axis=0)
print(dd,type(dd))
#分别取第一行、第二行、第三行的最大值组成一个seres

0    1.247446
1    4.000000
2    4.000000
dtype: float64 <class 'pandas.core.series.Series'>

In [31]:
print(df_data.apply(lambda x : print(x.max()),axis=1))

1.247446085926055
4.0
4.0
3.0
0    None
1    None
2    None
3    None
dtype: object

In [11]:
print(df_data.apply(lambda x : print(x[0]),axis=0))##对所有列操作每列取第一个元素，就是第一行

-0.5209729610140825
0.4954031683779352
0.04005431850032389
0    None
1    None
2    None
dtype: object

In [17]:
##groupby apply返回一个df,groupby agg返回的是series
print(df_data[[0,1]].apply(lambda x : print('xxx',type(x),x)))

xxx <class 'pandas.core.series.Series'> 0   -0.520973
1    1.000000
2         NaN
3    1.000000
Name: 0, dtype: float64
xxx <class 'pandas.core.series.Series'> 0    0.495403
1    2.000000
2    4.000000
3    2.000000
Name: 1, dtype: float64
0    None
1    None
dtype: object

In [18]:
print(df_data.groupby([0]).apply(lambda x : print('xxx',type(x),x)))

xxx <class 'pandas.core.frame.DataFrame'>           0         1         2
0 -0.520973  0.495403  0.040054
xxx <class 'pandas.core.frame.DataFrame'>           0         1         2
0 -0.520973  0.495403  0.040054
xxx <class 'pandas.core.frame.DataFrame'>      0    1    2
1  1.0  2.0  NaN
3  1.0  2.0  3.0
Empty DataFrame
Columns: []
Index: []

In [28]:
print(df_data.groupby([0]).agg(lambda x : print('xxx',type(x),x)))
##传进来的参数分组之后的多列series，所以是对多列进行操作
'''
          0         1         2
0  1.247446 -0.897312  0.313416
1  1.000000  2.000000  4.000000
2  1.000000  4.000000  4.000000
3  1.000000  2.000000  3.000000
'''

xxx <class 'pandas.core.series.Series'> 1    2.0
2    4.0
3    2.0
Name: 1, dtype: float64
xxx <class 'pandas.core.series.Series'> 0   -0.897312
Name: 1, dtype: float64
xxx <class 'pandas.core.series.Series'> 1    4.0
2    4.0
3    3.0
Name: 2, dtype: float64
xxx <class 'pandas.core.series.Series'> 0    0.313416
Name: 2, dtype: float64
           1   2
0
1.000000 NaN NaN
1.247446 NaN NaN

'\n          0         1         2\n0  1.247446 -0.897312  0.313416\n1  1.000000  2.000000  4.000000\n2  1.000000  4.000000  4.000000\n3  1.000000  2.000000  3.000000\n'

In [16]:
print(df_data[0].apply(lambda x : print('xxx',x)))#series就不存在坐标轴了,一列中一个个元素进行处理

xxx -0.5209729610140825
xxx 1.0
xxx nan
xxx 1.0
0    None
1    None
2    None
3    None
Name: 0, dtype: object

In [23]:
print(df_data[0].map(lambda x : print('xxx',x)))
##只能传进来一列，然后对每一个元素进行操作，此时功能与apply一样

xxx -0.5209729610140825
xxx 1.0
xxx nan
xxx 1.0
0    None
1    None
2    None
3    None
Name: 0, dtype: object

In [39]:

df_data.columns=['a','b','c']
print(df_data)

          a         b         c
0  1.247446 -0.897312  0.313416
1  1.000000  2.000000  4.000000
2  1.000000  4.000000  4.000000
3  1.000000  2.000000  3.000000

In [48]:
features=['a','b']
temp = df_data.groupby(features).size().reset_index().rename(columns={0: 'new_feature'})
print(temp)

          a         b  new_feature
0  1.000000  2.000000            2
1  1.000000  4.000000            1
2  1.247446 -0.897312            1

In [49]:
features=['a']
temp = df_data.groupby(features).size().reset_index().rename(columns={0: 'new_feature'})
print(temp)

          a  new_feature
0  1.000000            3
1  1.247446            1

In [53]:
features=['a','b']
temp = df_data.groupby(features).count().reset_index().rename(columns={0: 'new_feature'})
print(temp)

          a         b  c
0  1.000000  2.000000  2
1  1.000000  4.000000  1
2  1.247446 -0.897312  1

In [52]:
features=['a']
temp = df_data.groupby(features).count().reset_index().rename(columns={0: 'new_feature'})
print(temp)

          a  b  c
0  1.000000  3  3
1  1.247446  1  1

In [ ]:
####总结
# groupby 
# count:对by之后剩下的字段进行count
# size:对by字段进行size